# Ignore build artifacts and directories
build/
bin/
lib/
*.o
*.obj
*.exe
*.dll
*.so
*.dylib
*/__pycache__

# Ignore system files
.DS_Store
Thumbs.db

# Ignore VSCode settings
.vscode/

# Ignore logs
logs/*

# Ignore googletest
googletest-download/

# Ignore data
data/*
!data/.gitkeep

# Ignore docs
docs
